@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>Sajnálom, nincs jogosultságod az oldal megtekintéséhez.</p>
                </NotAuthorized>
                <Authorizing>
                    <p>Hitelesítés folyamatban...</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sajnos ezen a címen nem található semmi.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>