@attribute [Authorize(Roles = "Student")]
@page "/student/grades"
@using System.Globalization
@using Client.Pages.Components
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using Shared.DTOs
@using Shared.Entities
@inject HttpClient Http

<MudText Typo="Typo.h5" Class="mt-8 mb-3 font-weight-bold d-flex align-center">
	<MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Class="mr-2" Color="Color.Success"/>
	Órarend
</MudText>

@if (student == null)
{
	<LoadingCircle/>
}
else
{
	<MudTable Items="CourseDictionary" Hover="true" Bordered="true" Dense="true" Elevation="1"
	          Class="mb-12 custom-timetable">
		<HeaderContent>
			<MudTh>Subject</MudTh>
			@foreach (var month in Months)
			{
				<MudTh>@GetMonthName(month)</MudTh>
			}
			<MudTh>Average</MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd Style="font-weight: bold; background-color: grey;">@context.Key</MudTd>

			@foreach (var month in Months)
			{
				<MudTd Style="text-align: center; vertical-align: middle;">
					@{
						var gradesList = GetMonthlyData(month, context.Key);
					}
					@if (gradesList.Count == 0)
					{
						<span style="color: #bdbdbd;">-</span>
					}
					else
					{
						<div class="d-flex flex-wrap gap-1 justify-center">
							@foreach (var grade in gradesList)
							{
								<span class="custom-grade-badge">@grade.Value</span>
							}
						</div>
					}
				</MudTd>
			}
			<MudTd>@GetStudentAverage(context.Key)</MudTd>


		</RowTemplate>
	</MudTable>
}



@code {
	private List<int> Months = Enumerable.Range(1, 12).ToList();

	private string GetMonthName(int monthNumber)
	{
		return CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(monthNumber);
	}

	private List<GradeDto> GetMonthlyData(int monthNumber, string course)
	{
		var g = student.Grades.Where(g => g.CourseName == course && g.Date.Month == monthNumber).ToList();
		return g;
	}

	private double GetStudentAverage(string course)
	{
		var gradeByCourse = student.Grades.Where(g => g.CourseName == course).ToList();
		if (gradeByCourse.Count == 0) return 0;
		return Math.Round(gradeByCourse.Average(g => g.Value), 2);
	}

	private Dictionary<string, List<int>> CourseDictionary = new();
	private StudentDto? student;

	protected override async Task OnInitializedAsync()
	{
		var response = await Http.GetFromJsonAsync<List<StudentDto>>("api/grades");
		if (response != null)
		{
			student = response[0];
			foreach (var grade in student.Grades)
			{
				if (!CourseDictionary.TryGetValue(grade.CourseName, out List<int> gradeList))
				{
					gradeList = new List<int>();
					CourseDictionary[grade.CourseName] = gradeList;
				}
				gradeList.Add(grade.Value);
			}
		}
		
	}

}
