@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor
@using Shared.Entities
@using Client.Pages.Components
@attribute [Authorize(Roles = "Teacher")]
@inject HttpClient Http
@inject ISnackbar Snackbar
@page "/teacher/courses"

<AuthorizeView>


    @if (subjects.Count == 0 || schoolClasses.Count == 0 || rooms.Count == 0)
    {
        <LoadingCircle/>
    }
    else
    {
        <MudText Typo="Typo.h4" Class="mb-2 font-weight-bold">Kurzusok kezelése</MudText>

        <MudCard Elevation="2" Class="mb-8 pa-5 bg-light">
            <MudText Typo="Typo.h6" Class="mb-4 d-flex align-center">
                <MudIcon Icon="@Icons.Material.Filled.AddCircleOutline" Class="mr-2" Color="Color.Primary"></MudIcon>
           
                Új kurzus rögzítése
            </MudText>

            <EditForm Context="formContext" Model="courseModel" OnValidSubmit="HandleAdd">
                <DataAnnotationsValidator/>
                <ValidationSummary/>

                <MudGrid Spacing="3" Alignment="GridAlignment.Center">
                    <MudItem xs="12" sm="4">
                        <MudSelect T="int" Label="Tantárgy" @bind-Value="courseModel.SubjectId"
                                   Variant="Variant.Outlined" Margin="Margin.Dense">
                            <MudSelectItem T="int" Value="0">-- Kérlek válassz --</MudSelectItem>
                            @foreach (var item in subjects)
                            {
                                <MudSelectItem T="int" Value="@item.Id">@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="12" sm="4">
                        <MudSelect T="int" Label="Osztály" @bind-Value="courseModel.SchoolClassId"
                                   Variant="Variant.Outlined" Margin="Margin.Dense">
                            <MudSelectItem T="int" Value="0">-- Kérlek válassz --</MudSelectItem>
                            @foreach (var item in schoolClasses)
                            {
                                <MudSelectItem T="int" Value="@item.Id">@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="12" sm="4">
                        <MudSelect T="DayOfWeek?" Label="Nap" @bind-Value="courseModel.DayOfWeek" Variant="Variant.Outlined" Margin="Margin.Dense">
                            <MudSelectItem T="DayOfWeek?" Value="null">-- Kérlek válassz --</MudSelectItem>
                            <MudSelectItem T="DayOfWeek?" Value="@DayOfWeek.Monday">Hétfő</MudSelectItem>
                            <MudSelectItem T="DayOfWeek?" Value="@DayOfWeek.Tuesday">Kedd</MudSelectItem>
                            <MudSelectItem T="DayOfWeek?" Value="@DayOfWeek.Wednesday">Szerda</MudSelectItem>
                            <MudSelectItem T="DayOfWeek?" Value="@DayOfWeek.Thursday">Csütörtök</MudSelectItem>
                            <MudSelectItem T="DayOfWeek?" Value="@DayOfWeek.Friday">Péntek</MudSelectItem>
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="12" sm="4">
                        <MudSelect T="int" Label="Terem" @bind-Value="courseModel.RoomId" Variant="Variant.Outlined"
                                   Margin="Margin.Dense">
                            <MudSelectItem T="int" Value="0">-- Kérlek válassz --</MudSelectItem>
                            @foreach (var item in rooms)
                            {
                                <MudSelectItem T="int" Value="@((int)item.Id)">@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="12" sm="4">
                        <MudSelect T="int" Label="Időpont" @bind-Value="courseModel.LessonNumber"
                                   Variant="Variant.Outlined" Margin="Margin.Dense">
                            <MudSelectItem T="int" Value="0">-- Kérlek válassz --</MudSelectItem>
                            @{
                                int hour = 8;
                                for (int i = 1; i <= 10; i++)
                                {
                                    int currentLesson = i;
                                    int currentHour = hour;
                                    <MudSelectItem T="int"
                                                   Value="@currentLesson">@($"{currentLesson}. óra ({currentHour}:00-{currentHour}:45)")</MudSelectItem>
                                    hour++;
                                }
                            }
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="12" sm="4" Class="d-flex align-center justify-sm-end pt-4">
                        <MudButton ButtonType="ButtonType.Submit"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   Size="Size.Large"
                                   FullWidth="true"
                                   StartIcon="@Icons.Material.Filled.Add">
                            Hozzáadás
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudCard>
    }
</AuthorizeView>




<MudText Typo="Typo.h5" Class="mt-6 mb-3 font-weight-bold d-flex align-center">
    <MudIcon Icon="@Icons.Material.Filled.List" Class="mr-2" Color="Color.Info"/>
    Kurzusok áttekintése
</MudText>

@if (courses.Count == 0)
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Class="my-4">Üres a kurzusok listája!</MudAlert>
}
else
{
    <MudTable T="CourseDto" Items="@courses" MultiSelection="true" Dense="true" SortLabel="Rendezés"
              Filter="new Func<CourseDto, bool>(FilterFunc)" @bind-SelectedItems="selectedCourses" Hover="true"
              Breakpoint="Breakpoint.Sm" Elevation="1" Class="mb-8">

        <ToolBarContent>
            <MudText Typo="Typo.h6" Class="font-weight-bold">Órák listája</MudText>
            <MudSpacer/>
            <MudTextField @bind-Value="searchString" Placeholder="Keresés..." Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                          Class="mt-0" Immediate="true" Style="max-width: 300px;"></MudTextField>

            @if (selectedCourses.Any())
            {
                <MudButton Variant="Variant.Filled"
                           Color="Color.Error"
                           StartIcon="@Icons.Material.Filled.Delete"
                           OnClick="OnDeleteSelected"
                           Class="ml-4">
                    Kijelöltek törlése (@selectedCourses.Count)
                </MudButton>
            }
        </ToolBarContent>

        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<CourseDto, object>(x => x.Id)">ID</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<CourseDto, object>(x => x.Subject.Name)">Tárgy</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<CourseDto, object>(x => x.SchoolClassName)">Osztály
                </MudTableSortLabel>
            </MudTh>
            <MudTh>Nap</MudTh>
            <MudTh>Időpont</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Tárgy" Class="font-weight-bold">@context.Subject.Name</MudTd>
            <MudTd DataLabel="Osztály">
                <MudChip T="string" Size="Size.Small" Color="Color.Primary"
                         Variant="Variant.Text">@context.SchoolClassName</MudChip>
            </MudTd>
            <MudTd DataLabel="Napok">
                @foreach (var sch in context.CourseSchedules)
                {
                    <MudText Typo="Typo.body2" Class="d-block">@sch.DayOfWeek</MudText>
                }
            </MudTd>
            <MudTd DataLabel="Időpont">
                @foreach (var sch in context.CourseSchedules)
                {
                    <MudText Typo="Typo.body2" Color="Color.Secondary" Class="d-block font-weight-bold">
                        @(sch.LessonNumber + 7):00 - @(sch.LessonNumber + 7):45
                    </MudText>
                }
            </MudTd>
        </RowTemplate>

        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }"
                           RowsPerPageString="Sorok száma oldalanként:"
                           InfoFormat="{first_item}-{last_item} / {all_items} kurzus"
                           AllItemsText="Összes"
                           HorizontalAlignment="HorizontalAlignment.Right"/>
        </PagerContent>
    </MudTable>

    <MudText Typo="Typo.h5" Class="mt-8 mb-3 font-weight-bold d-flex align-center">
        <MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Class="mr-2" Color="Color.Success"/>
        Órarend
    </MudText>

    <MudTable Items="LessonsNumbers" Hover="true" Bordered="true" Dense="true" Elevation="1"
              Class="mb-12 custom-timetable">
        <HeaderContent>
            <MudTh Style="width: 80px; font-weight: bold; background-color: gray;">Óra</MudTh>
            <MudTh Style="font-weight: bold; text-align: center;">Hétfő</MudTh>
            <MudTh Style="font-weight: bold; text-align: center;">Kedd</MudTh>
            <MudTh Style="font-weight: bold; text-align: center;">Szerda</MudTh>
            <MudTh Style="font-weight: bold; text-align: center;">Csütörtök</MudTh>
            <MudTh Style="font-weight: bold; text-align: center;">Péntek</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd Style="font-weight: bold; background-color: grey;">@context. óra</MudTd>
            @for (int i = 1; i < 6; i++)
            {
                int dayidx = i;
                <MudTd Style="text-align: center; width: 18%; height: 70px; vertical-align: middle;">
                    @{
                        var day = (DayOfWeek)dayidx;
                        CourseDto course = GetCourseForSlot(day, context);
                    }
                    @if (course != null)
                    {
                        var sch = course.CourseSchedules.FirstOrDefault(s => s.DayOfWeek == day && s.LessonNumber == context);
                        <Card Course="course" CourseSchedule="sch"></Card>
                    }
                    else
                    {
                        <span class="empty-slot">-</span>
                    }
                </MudTd>
            }
        </RowTemplate>
    </MudTable>
}
