@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using Shared.DTOs
@using Shared.Entities
@inject HttpClient Http
@inject ISnackbar Snackbar
@attribute [Authorize(Roles = "Admin")]
@page "/admin/rooms"

<h3>Terem hozzáadása</h3>

<EditForm Model="roomModel" OnValidSubmit="HandleAdd">
	<div class="mb-3">
		<label>név:</label>
		<InputText @bind-Value="roomModel.Name" class="form-control" />
	</div>
	
	<button type="submit" class="btn btn-primary">Hozzáadás</button>

</EditForm>

<h3>Termek</h3>

<MudTable Items="@rooms" MultiSelection="true" Dense="true" SortLabel="Sort by" Filter="new Func<RoomDto, bool>(FilterFunc)" @bind-SelectedItems="selectedRooms" Hover="true" Breakpoint="Breakpoint.Sm">

		<ToolBarContent>
			<MudText Typo="Typo.h6">Diákok</MudText>
			<MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
			<MudSpacer  /> @* Ez eltolja a gombot a jobb szélre *@


			@if (selectedRooms.Any())
			{
				<MudButton Variant="Variant.Filled"
						   Color="Color.Error"
						   StartIcon="@Icons.Material.Filled.Delete"
						   OnClick="OnDeleteSelected"
						   Class="ml-4">
					Törlés (@selectedRooms.Count)
				</MudButton>
			}
		</ToolBarContent>

			<HeaderContent>
			<MudTh><MudTableSortLabel SortBy="new Func<RoomDto, object>(x => x.Id)"> ID</MudTableSortLabel></MudTh>
		<MudTh><MudTableSortLabel SortBy="new Func<RoomDto, object>(x => x.Name)"> Név</MudTableSortLabel></MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="Id">@context.Id</MudTd>
			<MudTd DataLabel="Név">@context.Name</MudTd>
			</RowTemplate>

		<PagerContent>
			<MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, int.MaxValue }"
						   RowsPerPageString="Sorok száma oldalanként"
						   InfoFormat="{first_item}-{last_item} elem a {all_items}-ból"
						   AllItemsText="Összes"
						   HorizontalAlignment="HorizontalAlignment.Right"
						    />
		</PagerContent>
		
	</MudTable>


@code {
	private RoomDto roomModel = new RoomDto();


	private async Task HandleAdd()
	{
		{
			var response = await Http.PostAsJsonAsync("api/rooms", roomModel);
			if (response.IsSuccessStatusCode)
			{
				RoomDto newRoom = await response.Content.ReadFromJsonAsync<RoomDto>();
				if (newRoom != null)
				{
					rooms.Add(newRoom);
					Snackbar.Add($"Sikeres hozzáadás", Severity.Success);
				}
			}
		}
	}


	private HashSet<RoomDto> selectedRooms = new HashSet<RoomDto>();
	private List<RoomDto> rooms = null;
	private string searchString = "";
	protected override async Task OnInitializedAsync()
	{


		var response = await Http.GetFromJsonAsync<List<RoomDto>>("api/rooms");
		if (response != null) rooms = response;

	}
	private async Task OnDeleteSelected()
	{
		Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
		var idsToDelete = selectedRooms.Select(s => s.Id).ToList();
		if (!idsToDelete.Any()) return;
		var response = await Http.PostAsJsonAsync("api/rooms/bulk-delete", idsToDelete);

		if (response.IsSuccessStatusCode)
		{
			rooms.RemoveAll(s => idsToDelete.Contains(s.Id));
			selectedRooms.Clear();
			Snackbar.Add($"{idsToDelete.Count} tárgy törölve.", Severity.Success);
			StateHasChanged();
		}
		else Snackbar.Add($"Sikertelen", Severity.Error);

	}
	private bool FilterFunc(RoomDto room)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (room.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (room.Id.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;

		return false;
	}
}


