@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using Shared.DTOs
@using Shared.Entities
@inject HttpClient Http
@attribute [Authorize(Roles = "Admin")]
@page "/admin/subjects"
@inject ISnackbar Snackbar
<h3>Tantárgy hozzáadása</h3>

<EditForm Model="subjectModel" OnValidSubmit="HandleAdd">
	<div class="mb-3">
		<label>név:</label>
		<InputText @bind-Value="subjectModel.Name" class="form-control" />
	</div>
	
	<button type="submit" class="btn btn-primary">Hozzáadás</button>

</EditForm>


<h3>Tantárgyak</h3>


<MudTable Items="@subjects" MultiSelection="true" Dense="true" SortLabel="Sort by" Filter="new Func<SubjectDto, bool>(FilterFunc)" @bind-SelectedItems="selectedSubjects" Hover="true" Breakpoint="Breakpoint.Sm">

		<ToolBarContent>
			<MudText Typo="Typo.h6">Diákok</MudText>
			<MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
			<MudSpacer  /> @* Ez eltolja a gombot a jobb szélre *@


			@if (selectedSubjects.Any())
			{
				<MudButton Variant="Variant.Filled"
						   Color="Color.Error"
						   StartIcon="@Icons.Material.Filled.Delete"
						   OnClick="OnDeleteSelected"
						   Class="ml-4">
					Törlés (@selectedSubjects.Count)
				</MudButton>
			}
		</ToolBarContent>

			<HeaderContent>
			<MudTh><MudTableSortLabel SortBy="new Func<SubjectDto, object>(x => x.Id)"> ID</MudTableSortLabel></MudTh>
		<MudTh><MudTableSortLabel SortBy="new Func<SubjectDto, object>(x => x.Name)"> Név</MudTableSortLabel></MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="Id">@context.Id</MudTd>
			<MudTd DataLabel="Név">@context.Name</MudTd>
			</RowTemplate>

		<PagerContent>
			<MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, int.MaxValue }"
						   RowsPerPageString="Sorok száma oldalanként"
						   InfoFormat="{first_item}-{last_item} elem a {all_items}-ból"
						   AllItemsText="Összes"
						   HorizontalAlignment="HorizontalAlignment.Right"
						    />
		</PagerContent>
		
	</MudTable>


@code {
	private SubjectDto subjectModel = new SubjectDto();

	private async Task HandleAdd()
	{
		{
			var response = await Http.PostAsJsonAsync("api/subjects", subjectModel);
			if (response.IsSuccessStatusCode)
			{
				SubjectDto newSubject = await response.Content.ReadFromJsonAsync<SubjectDto>();
				if (newSubject != null)
				{
					subjects.Add(newSubject);
					Snackbar.Add($"Sikeres hozzáadás", Severity.Success);
				}
			}
		}
	}


	private HashSet<SubjectDto> selectedSubjects = new HashSet<SubjectDto>();
	private List<SubjectDto> subjects = null;
	private string searchString = "";
	protected override async Task OnInitializedAsync()
	{
		

		var response = await Http.GetFromJsonAsync<List<SubjectDto>>("api/subjects");
		if (response != null) subjects = response;

	}
	private async Task OnDeleteSelected()
	{
		Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
		var idsToDelete = selectedSubjects.Select(s => s.Id).ToList();
		if (!idsToDelete.Any()) return;
		var response = await Http.PostAsJsonAsync("api/subjects/bulk-delete", idsToDelete);

		if (response.IsSuccessStatusCode)
		{
			subjects.RemoveAll(s => idsToDelete.Contains(s.Id));
			selectedSubjects.Clear();
			Snackbar.Add($"{idsToDelete.Count} tárgy törölve.", Severity.Success);
			StateHasChanged();
		}
		else Snackbar.Add($"Sikertelen", Severity.Error);

	}
	private bool FilterFunc(SubjectDto subject)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (subject.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (subject.Id.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;

		return false;
	}
}
