@inject HttpClient Http
@attribute [Authorize(Roles = "Admin")]
@page "/admin/teachers"
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@inject ISnackbar Snackbar
@using Shared.DTOs

<h3>Tanár hozzáadása</h3>




@if (subjects.Count != 0)
{
	<EditForm Model="teacherModel" OnValidSubmit="HandleAdd">
		<div class="mb-3">
			<label>név:</label>
			<InputText @bind-Value="teacherModel.Name" class="form-control" />
		</div>
		<div class="mb-3">
			<label>Email:</label>
			<InputText @bind-Value="teacherModel.Email" type="email" class="form-control" />
		</div>

		<div class="mb-3">
			<label>Jelszó:</label>
			<InputText @bind-Value="teacherModel.Password" type="password" class="form-control" />
		</div>


		@foreach (var subject in subjects)
		{
			<div class="form-check mb-3">
				<input type="checkbox"
					   class="form-check-input"
					   id="@subject.Name"
					   @onchange="(e) => ToggleSubject(subject, e.Value)" />
				<label class="form-check-label" for="@subject.Name">@subject.Name</label>
			</div>
		}
		<button type="submit" class="btn btn-primary">Hozzáadás</button>


	</EditForm>
}
else
{
	<h3>Betöltés...</h3>
}

<h3>Students</h3>
@if (teachers == null)
{
	<h4>Betöltés...</h4>
}
else
{
	<MudTable Items="@teachers" MultiSelection="true" Dense="true" SortLabel="Sort by" Filter="new Func<TeacherDetailsDto, bool>(FilterFunc)" @bind-SelectedItems="selectedTeachers" Hover="true" Breakpoint="Breakpoint.Sm">

		<ToolBarContent>
			<MudText Typo="Typo.h6">Tanárok</MudText>
			<MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
			<MudSpacer  /> @* Ez eltolja a gombot a jobb szélre *@


			@if (selectedTeachers.Any())
			{
				<MudButton Variant="Variant.Filled"
						   Color="Color.Error"
						   StartIcon="@Icons.Material.Filled.Delete"
						   OnClick="OnDeleteSelected"
						   Class="ml-4">
					Törlés (@selectedTeachers.Count)
				</MudButton>
			}
		</ToolBarContent>

			<HeaderContent>
			<MudTh><MudTableSortLabel SortBy="new Func<TeacherDetailsDto, object>(x => x.Name)"> Név</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<TeacherDetailsDto, object>(x => x.Email)"> Email</MudTableSortLabel></MudTh>
			
			
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="Név">@context.Name</MudTd>
			<MudTd DataLabel="Email">@context.Email</MudTd>
			<MudTd DataLabel="Tárgyak">
				@foreach (var subject in context.TeachedSubjects)
			{
					<MudChip T="string" Size="Size.Small" Color="Color.Info" Variant="Variant.Text">@subject.Name</MudChip>
			}
			</MudTd>
			
			</RowTemplate>

		<PagerContent>
			<MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, int.MaxValue }"
						   RowsPerPageString="Sorok száma oldalanként"
						   InfoFormat="{first_item}-{last_item} elem a {all_items}-ból"
						   AllItemsText="Összes"
						   HorizontalAlignment="HorizontalAlignment.Right"
						    />
		</PagerContent>
		
	</MudTable>

	@foreach (var item in selectedTeachers)
	{
		<h3>@item.Name</h3>
	}
	
	
}

@code {

	private List<SubjectDto> subjects = new List<SubjectDto>();
	private HashSet<SubjectDto> selectedSubjects = new HashSet<SubjectDto>();
	private TeacherDetailsDto teacherModel = new ();

	void ToggleSubject(SubjectDto subject, object checkedValue)
	{
		bool isChecked = (bool)checkedValue;

		if (isChecked)
			selectedSubjects.Add(subject);
		else
			selectedSubjects.Remove(subject);
	}

	private async Task HandleAdd()
	{
		{
			teacherModel.TeachedSubjects = selectedSubjects;
			var response = await Http.PostAsJsonAsync("api/teachers", teacherModel);
			if (response.IsSuccessStatusCode)
			{
				TeacherDetailsDto newTeacher = await response.Content.ReadFromJsonAsync<TeacherDetailsDto>();
				if(newTeacher != null)
				{
					teachers.Add(newTeacher);
					Snackbar.Add($"Sikeres hozzáadás", Severity.Success);
				}
			}
		}
	}

	private HashSet<TeacherDetailsDto> selectedTeachers = new ();
	private List<TeacherDetailsDto> teachers = null;
	private string searchString = "";

	protected override async Task OnInitializedAsync()
	{
		var response = await Http.GetFromJsonAsync<List<SubjectDto>>("api/subjects");
		if (response != null) subjects = response;

		var response2 = await Http.GetFromJsonAsync<List<TeacherDetailsDto>>("api/teachers");
		if (response2 != null) teachers = response2;



	}
	private async Task OnDeleteSelected()
	{
		var idsToDelete = selectedTeachers.Select(s => s.Id).ToList();
		if (!idsToDelete.Any()) return;
		var response = await Http.PostAsJsonAsync("api/teachers/bulk-delete", idsToDelete);

		if (response.IsSuccessStatusCode)
		{
			teachers.RemoveAll(s => idsToDelete.Contains(s.Id));
			selectedTeachers.Clear();
			Snackbar.Add($"{idsToDelete.Count} tanár törölve.", Severity.Success);
			StateHasChanged();
		}
		else Snackbar.Add($"Sikertelen", Severity.Error);

	}
	private bool FilterFunc(TeacherDetailsDto teacher)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (teacher.Email.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (teacher.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (teacher.TeachedSubjects.Any(s => s.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase)))
			return true;
		return false;
	}
}
