@using Client.Token
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

<MudNavMenu Bordered="true">
    <MudText Typo="Typo.h6" Class="px-4 py-3" Color="Color.Primary">Admin Panel</MudText>
    
    <MudNavLink Href="admin/students" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.School">
        Students
    </MudNavLink>
    
    <MudNavLink Href="admin/teachers" Icon="@Icons.Material.Filled.SupervisorAccount">
        Teachers
    </MudNavLink>
    
    <MudNavLink Href="admin/subjects" Icon="@Icons.Material.Filled.MenuBook">
        Subjects
    </MudNavLink>
    
    <MudNavLink Href="admin/classes" Icon="@Icons.Material.Filled.Class">
        Classes
    </MudNavLink>
    
    <MudNavLink Href="admin/rooms" Icon="@Icons.Material.Filled.MeetingRoom">
        Rooms
    </MudNavLink>
    <MudNavLink Href="admin/admins" Icon="@Icons.Material.Filled.Person">
        Admins
    </MudNavLink>
    
    <MudNavLink Href="admin/profile" Icon="@Icons.Material.Filled.Person">
        Profile
    </MudNavLink>
     
   

    <MudDivider Class="my-2" />

    <div class="px-4 py-2">
        <MudButton Variant="Variant.Filled" 
                   Color="Color.Error" 
                   FullWidth="true"
                   StartIcon="@Icons.Material.Filled.Logout"
                   OnClick="@Logout">
            Sign out
        </MudButton>
    </div>
</MudNavMenu>

@code {
   

    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        ((CustomAuthStateProvider)AuthStateProvider).NotifyUserLogout();
        NavManager.NavigateTo("/");
    }
}