@using MudBlazor
@inject ISnackbar Snackbar
@inject HttpClient Http
<MudCard Elevation="3" Class="pa-4" Style="height: 100%;">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Change Password</MudText>
        </CardHeaderContent>
    </MudCardHeader>

    <MudCardContent>
        <EditForm Model="@passwordModel" OnValidSubmit="HandlePasswordChange">
            <DataAnnotationsValidator/>

            <MudTextField T="string"
                          Label="Current Password"
                          @bind-Value="passwordModel.CurrentPassword"
                          For="@(() => passwordModel.CurrentPassword)"
                          InputType="@currentPasswordInput"
                          Adornment="Adornment.End"
                          AdornmentIcon="@currentPasswordIcon"
                          OnAdornmentClick="ToggleCurrentPasswordVisibility"
                          Variant="Variant.Outlined"
                          Class="mb-4"/>

            <MudTextField T="string"
                          Label="New Password"
                          @bind-Value="passwordModel.NewPassword"
                          For="@(() => passwordModel.NewPassword)"
                          InputType="@newPasswordInput"
                          Adornment="Adornment.End"
                          AdornmentIcon="@newPasswordIcon"
                          OnAdornmentClick="ToggleNewPasswordVisibility"
                          Variant="Variant.Outlined"
                          Class="mb-4"/>

            <MudTextField T="string"
                          Label="Confirm New Password"
                          @bind-Value="passwordModel.ConfirmPassword"
                          For="@(() => passwordModel.ConfirmPassword)"
                          InputType="@newPasswordInput"
                          Variant="Variant.Outlined"
                          Class="mb-6"/>

            <div class="d-flex justify-end">
                <MudButton ButtonType="ButtonType.Submit"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           Disabled="@isSubmitting">
                    @if (isSubmitting)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                        <MudText Class="ms-2">Saving...</MudText>
                    }
                    else
                    {
                        <MudText>Save</MudText>
                    }
                </MudButton>
            </div>
        </EditForm>
    </MudCardContent>
</MudCard>

@code {

}